POSICIONES_ENTRENADORES = [Picaku]
POKEMON_ENTRENADORES = [Picaku]
OBJETIVOS_ENTRENADORES = [Picaku]
TIEMPO_RECONEXION = 30
RETARDO_CICLO_CPU = 2
ALGORITMO_PLANIFICACION = RR
QUANTUM = 2
ESTIMACION_INICIAL = 0 
IP_BROKER = 127.0.0.1
PUERTO_BROKER = 8080
LOG_FILE = /home/utnso/workspace/tp-2020-1c-ManaOS-/Team/log_team.txt