TAMANO_MEMORIA=64
TAMANO_MINIMO_PARTICION=4
ALGORITMO_MEMORIA=bs
ALGORITMO_REEMPLAZO=fifo
ALGORITMO_PARTICION_LIBRE=ff
IP_BROKER=127.0.0.1
PUERTO_BROKER=8556
FRECUENCIA_COMPACTACION=1
LOG_FILE=/home/utnso/log_broker.txt
DUMP_FILE=/home/utnso/dump_broker.txt

#TAMANO_MEMORIA=64
#TAMANO_MINIMO_PARTICION=4
#ALGORITMO_MEMORIA=particiones
#ALGORITMO_REEMPLAZO=fifo
#ALGORITMO_PARTICION_LIBRE=ff
#IP_BROKER=127.0.0.1
#PUERTO_BROKER=8085
#FRECUENCIA_COMPACTACION=1
#LOG_FILE=/home/utnso/log_broker.txt
#DUMP_FILE=/home/utnso/dump_broker.txt

#correr bs
#TAMANO_MEMORIA=64
#TAMANO_MINIMO_PARTICION=4
#ALGORITMO_MEMORIA=bs
#ALGORITMO_REEMPLAZO=fifo
#ALGORITMO_PARTICION_LIBRE=ff
#IP_BROKER=127.0.0.1
#PUERTO_BROKER=8085
#FRECUENCIA_COMPACTACION=1
#LOG_FILE=/home/utnso/log_broker.txt
#DUMP_FILE=/home/utnso/dump_broker.txt